body {
    padding-top: 70px;
}

footer {
    margin: 50px 0;
}


.navbar-brand{
    color: white !important;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control, .item {
    border-radius: 4px;
}


