<div class="container anim-fadeIn">
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Biblioteka TAS</p>
            <div class="list-group genre-menu">
                <a href class="list-group-item" [routerLink]="['/books']">Wszystkie</a>
                <a href class="list-group-item" [routerLink]="['/books', 'Fantazy']" routerLinkActive="active">Fantazy</a>
                <a href class="list-group-item" [routerLink]="['/books', 'Sci-Fi']" routerLinkActive="active">Sci-Fi</a>
                <a href class="list-group-item" [routerLink]="['/books', 'Informatyka']" routerLinkActive="active">Informatyka</a>
                <a href class="list-group-item" [routerLink]="['/books', 'Historia']" routerLinkActive="active">Historia</a>
                <a href class="list-group-item" [routerLink]="['/books', 'Poradniki']" routerLinkActive="active">Poradniki</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">

                <!-- TEMPLATE: -->
                <div *ngIf="booksLoaded">
                    <div class="col-sm-6 col-md-6 col-lg-4 float-panel anim-fadeIn-slow" *ngFor="let book of (books | gridCategory: filterCat)">
                        <div class="card">
                            <img class="card-img-top" src="assets/images/books_uploads/{{book?.img_link}}" alt="" class="thumb-book">
                            <div class="card-block">
                                <h4 class="card-title"><a href="" [routerLink]="['/book', book._id]">{{book.name}}</a></h4>
                                <p class="card-text"> {{book.desc | limitTo: 80}} </p>
                                <div class="text-xs-right">
                                    <p class="card-text">{{book.revs}} reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END -->

            </div>
        </div>

    </div>
</div>

