.float-panel {
  margin-top: 15px;
}
.float-panel h4 {
  font-size: 1.2rem; 
}
.float-panel .card-block {
  padding: 20px 10px 20px 10px;
}
.float-panel .card-title {
  height: 30px; 
}

.thumb-book {
  display: block;
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: 0px 0px; 
}
