<div class="container anim-fadeIn-slow">

	<div class="row">
		<div class="col-sm-12">
			<h1 style="text-transform: capitalize;">{{user.login}}<span style="font-size: 75%; color:#848B8F;"> - Profil użytkownika </span></h1>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-6">
			<h4>Wypożyczone książki:</h4>
			<div *ngIf="noRentedBooks">
				<p>Nie masz wypożyczonej żadnej książki.</p>
			</div>
			<div *ngIf="!noRentedBooks">
				<div class="row anim-fadeIn-slow">
					<div class="col-md-5 rentedBook" *ngFor="let rent of rents">
						<div class="image"
						[ngStyle]="{'background-image': 'url(assets/images/books_uploads/' + rent?.book?.img_link + ')'}">
							<div class="title">
								{{rent?.book?.name}}
							</div>
							<div class="button_ret">
								<button type="button" (click)="returnBook(rent?._id)" class="btn btn-primary">Zwróć</button>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<h4>Wystawione opinie:</h4>
			<div class="row anim-fadeIn-slow rev-row" *ngFor="let rev of reviews">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 image-column" 
					[ngStyle]="{'background-image': 'url(assets/images/books_uploads/' + rev?.book?.img_link + ')'}"></div>

		        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<div class="review_box">
						<div class="heading">
							<span class="rev_author">{{rev?.author}} @ {{rev?.book?.name}}</span>
							•
							<span class="rev_date">{{rev?.date | date}}</span>
						</div>
						<div class="body">
							<p>{{rev?.content}}</p>
						</div>
					</div>
				</div>

				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top: 10px;">
					<button type="button" (click)="removeRev(rev?._id)" class="btn btn-sm btn-outline-danger">del</button>
				</div>
		    </div>
		</div>
	</div>

</div>
