<template #makeReview ngbModalContainer let-c="close" let-d="dismiss">
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Dodaj recenzje</h4>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group row">
				<label for="example-text-input" class="col-xs-2 col-form-label">Login: </label>
				<div class="col-xs-10">
					<input class="form-control" type="text" value="" id="example-text-input">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
	</div>
</template>

<div [style.display]="checkModal()" class="modal-fader anim-fadeIn"></div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="addRewview-button">
			<button class="btn btn-sm btn-outline-success" (click)="open(makeReview)">Oceń</button>
		</div>

		<div>
			<div class="row" *ngIf="reviews?.length == 0">
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
					<p class="bookNoReviewsInf"> Nie ma jeszcze recenzji dla tej książki. </p>
				</div>
			</div>
			<div class="row" *ngFor="let review of reviews">
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
					<div class="review_box">
						<div class="heading">
							<span class="rev_author">{{review.author}}</span>
							•
							<span class="rev_date">{{review.date | date}}</span>
						</div>
						<div class="body">
							<p>{{review.content}}</p>
							<div>{{review.reat}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>