.addRewview-button {
	position: absolute;
	right: 10px;
	top: 10px;
}

.bookNoReviewsInf {
	font-size: 15px;
	color: #AA3034;
	width: 100%;
	padding: 25px 0 0 25px;
	margin: auto;
}

.review_box {
	padding: 5px;

	.heading {

		.rev_author {
			color: blue;
			font-size: 12px
		}

		.rev_date {
			font-style: italic;
			font-size: 11px;
		}
	}

	.body {
		padding: 10px;
	}
}