.addRewview-button {
	position: absolute;
	right: 10px;
	top: 10px;
}

.bookNoReviewsInf {
	font-size: 15px;
	color: #AA3034;
	width: 100%;
	padding: 25px 0 0 25px;
	margin: auto;
}

.review_box {
	padding: 5px;

	.heading {

		.rev_author {
			color: blue;
			font-size: 12px
		}

		.rev_date {
			font-style: italic;
			font-size: 11px;
		}
	}

	.body {
		padding: 10px;
	}
}

.modal-fader{
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, 0.7);
	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}