<div class="container anim-fadeIn-slow">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 offset-md-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Zaloguj się</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
	                    <fieldset>
				    	  	<div class="form-group">
				    		    <input [(ngModel)]="login" class="form-control" placeholder="Login" name="login" type="text">
				    		</div>
				    		<div class="form-group">
				    			<input [(ngModel)]="pass" class="form-control" placeholder="Hasło" name="pass" type="password" value="">
				    			<span style="font-size: 12px; color: red">{{err_msg}}</span>
				    		</div>
				    		<div class="register">
				    	    	<a herf [routerLink]="['/register']">Nie posiadam konta.</a>
				    	    </div>
				    		<input (click)="tryLogin()" class="btn btn-lg btn-success btn-block" type="button" value="Login">
				    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>