<div class="container anim-fadeIn-slow">
	<div class="row">
		<div class="col-sm-4">
      		<img src="assets/images/about_photo/krzysztof1.jpg" style="width: 100%;" class="img-thumbnail">
		</div>
		<div class="col-sm-8" style="align-content: left;">
			<div class="name"><h3>Krzysztof Palka</h3></div>
    		<div class="stanowisko">Full Stack Developer</div>
    		<hr>
    		<div class="moreInfo">
    			<p>Studjuję informatyke na UAM.</p>
    			<p>Pracuje w Aegton Systems jako Full Stack Web Developer<br>
    			zajmuję się administracją serverów linuxowych, tworzeniem aplikacji<br>
    			webowych, oraz zarządzaniem bazami danych</p>
    			Co mnie interesuje?<br>
	    			<ul>
		    			<li>Gry komputerowe</li>
		    			<li>Web development</li>
		    			<li>Muzyka</li>
	    			</ul>
    		</div>
		</div>
	</div>
</div>