<div class="container anim-fadeIn-slow">
	<div class="row">
		<div class="col-sm-12">

			<h1> O nas </h1>
			
			<div class="aboutTabs">
				<ngb-tabset>
					<ngb-tab title="Kamil">
						<template ngbTabContent>
							<div class="card text-xs-center ng-cardTabbed">
								<div class="card-block">
									<about-kamil></about-kamil>
								</div>
							</div>
						</template>
					</ngb-tab>
					<ngb-tab title="Krzysztof">
						<template ngbTabContent>
							<div class="card text-xs-center ng-cardTabbed">
								<div class="card-block">
									<about-krzysztof></about-krzysztof>
								</div>
							</div>
						</template>
					</ngb-tab>
					<ngb-tab title="Michal">
						<template ngbTabContent>
							<div class="card text-xs-center ng-cardTabbed">
								<div class="card-block">
									<about-michal></about-michal>
								</div>
							</div>
						</template>
					</ngb-tab>
					<ngb-tab title="Patryk">
						<template ngbTabContent>
							<div class="card text-xs-center ng-cardTabbed">
								<div class="card-block">
									<about-patryk></about-patryk>
								</div>
							</div>
						</template>
					</ngb-tab>
				</ngb-tabset>
			</div>

		</div>
	</div>
</div>