<div class="container anim-fadeIn">


    <a><b>Lubię placki</b></a>
    
<div class="row">
  <div class="col-xs-6">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item">Krzysztof</button>
        <button class="dropdown-item">Prezes</button>
        <button class="dropdown-item">Michał</button>
        <button class="dropdown-item">Skiba</button>
      </div>
    </div>
  </div>
    
    
</div>    