<div class="container anim-fadeIn-slow">  
<div class="row ">
    <div class="col-sm-12">
    <img src="assets/images/about_photo/boisko.jpg"  style="width:320px" class="img-thumbnail">
<h1 id="logo"></h1>
      
      <h2>O mnie</h2>
      <p>Witaj na mojej zakładce. Mam na imię Patryk i studiuję na UAM informatykę. Aktualnie jestem na 3 roku studiów.</p>
      <p>Uwielbiam uprawiać sport, w szczególności piłkę nożną oraz pływanie</p>
      <div class="hr"></div>
      <h2>Dodatkowe informacje :</h2>
      <p>Kilka ciekawostek o naszym projekcie:</p>
      <ul>
        <li>Wszyscy współtworzyciele poznaliśmy się wcześniej- w technikum komunikacji</li> 
        <li>Strona jest oparta na angularze</li>
        <li>Jestem odpowiedzialny za moduł klienta</li>
        <li>Jest to projekt na Technologie aplikacji serwerowych.</li>
      </ul>
      <p>Każdemu odwiedzającemu moją zakładkę życzę miłego dnia.</p>
      <div class="hr"></div>
</div>
    </div>
    </div>    